.faq {
    overflow: hidden;
    background: rgb(35, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    overflow-x: hidden;
}
.faq h3 {
    font-weight: 400;
    font-size: 25px;
    width: 40%;
    margin: 20px;
    text-align: center;
}
.faq main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.faq main nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding-left: 120px;
}
.faq main .questions, .faq main .answer {
    width: 100%;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 22px;
    text-transform: capitalize;
    cursor: pointer;
}
.faq main .answer {
    padding: 10px 10px;
    border-radius: 5px;
    display: none;
    background: gray;
    color: whitesmoke;
    transition: all 0.3s ease-in;
}
.faq main .answer.active {
    display: block;
}
.faq .down {
    display: flex;
    align-self: center;
    margin:  0 15px;
}
.faq button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 22px;
    background: inherit;
    border: 1px solid #D8AA35;
    color: white;
}
.faq button:hover {
    background: whitesmoke;
    color: black;
}
@media only screen and (max-width: 1000px) {
    .faq main nav {
        width: 90%;
        padding-left: 0px;
    }
    .faq {
        padding: 20px;
    }
}