.welcome {
    background: rgb(29, 28, 28);
    color: white;
    display: flex;
    overflow: hidden;
    padding-top: 100px;
    position: relative;
    z-index: -1;
}
.welcome::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/background5.jpg);
    background-repeat: no-repeat;
    background-size: 98%;
    background-position: 50% 30%;
    opacity: 0.2;
    z-index: -2;
}
.intro {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigate {
    background: rgb(96, 95, 95);
    color: white;
    position: absolute;
    top: 50%;
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    font-size: 23px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-self: center;
}
.navigate:hover {
    color: #B08126;
}
.navigate.left {
    left: 50px;
}
.navigate.right {
    right: 50px;
}
.intro h1 {
    margin-top: 100px;
    margin-left: 120px;
    font-size: 50px;
    font-weight: 700;
}
.intro span {
    background: #B08126;
    height: 3px;
    width: 40%;
    margin: 40px 0;
}
.intro p {
    margin: 20px 120px;
    font-size: 20px;
    line-height: 1.4;
}
.register {
    margin: 0 0 100px 120px;
    background: #B08126;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-self: flex-start;
}
.register a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
.contes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.contes nav {
    border: 20px solid grey;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.contes nav img {
    z-index: 333;
    transform: translate(-45px, -50%);
}
.welcome .sponsor {
    display: flex;
}
.welcome .headline {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.welcome .headline img {
    margin: 20px 0;
}
.welcome .powered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.welcome .powered div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome .powered div img {
    margin: 20px 20px;
}
@media only screen and (max-width: 1000px) {
    .navigate {
        display: none;
    }
    .welcome {
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: -2;
    }
    .welcome::before {
        content: url(./../img/contestant.png);
        position: absolute;
        top: 50%;
        left: 60%;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }
    .intro {
        width: 100%;
    }
    .intro p, .intro h1 {
        margin: 10px 30px;
        font-size: 1.5em;
        width: 80%;
    }
    .intro .register {
        align-self: center;
    }
    .contes nav {
        display: none;
    }
    .welcome .sponsor {
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 1em;
    }
}