.schools {
    background: rgb(35, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    overflow-x: hidden;
}
.schools h3 {
    color: #B08126;
    font-weight: 400;
    font-size: 25px;
    width: 40%;
    margin: 20px;
    text-align: center;
}
.schools span {
    background: #D8AA35;
    width: 20%;
    height: 3px;
}
.schools .school {
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.schools img {
    cursor: pointer;
}
.schools button {
    cursor: pointer;
    padding: 10px;
    background: white;
    color: gray;
    border-radius: 2px;
    border: none;
    margin: 5px ;
}
.schools button:hover {
    color: white;
    background: grey;
}
.schools button.active {
    background: grey;
    color: white;
}