.subscribe {
    display: flex;
    background: rgb(29, 28, 28);
    color: white;
    padding-bottom: 20px;
    overflow-x: hidden;
}
.subscribe section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 120px;
}
.subscribe p {
    font-size: 21px;
    line-height: 1.7;
    margin: 40px 0;
}
.subscribe .sub {
    font-size: 30px;
}
.subscribe div {
    display: flex;
}
.subscribe input {
    padding: 20px;
    font-size: 21px;
    color: gray;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}
.subscribe button {
    background: #D8AA35;
    padding: 20px;
    font-size: 21px;
    border-radius: 0 10px 10px 0;
    border: none;
}
.subscribe button:hover {
    color: white;
}
.subscribe img {
    margin: auto;
}
@media only screen and (max-width: 1000px) {
    .subscribe img {
        display: none;
    }
    .subscribe {
        position: relative;
        z-index: -2;
    }
    .subscribe::before {
        content: url(./../img/sub.png);
        position: absolute;
        top: 0;
        left: 60%;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }
    .subscribe section {
        width: 100%;
        padding: 50px;
    }
    .subscribe div {
        flex-direction: column;
    }
    .subscribe input {
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }
    .subscribe button {
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }
}