header {
    min-width: 100vw;
    width: fit-content;
    background: rgb(51, 51, 51);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}
header img {
    margin: 0 80px 0 100px;
}
.header-links {
    width: 100%;
    font-size: 21px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.header-links a {
    text-decoration: none;
    color: white;
}
header button {
    background: #B08126;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 21px;
}