header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    background: rgb(51, 51, 51);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}
.fixed {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1000;
}
.fixed div {
    background: #B08126;
}
.fixed .header-links a {
    color: black;
}
.fixed button {
    background: black;
}
.fixed .header-links button a {
    color: #B08126;
}
header img {
    margin: 0 80px 0 100px;
    height: 2em;
}
.header-links {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.header-links a {
    text-decoration: none;
    color: white;
}
.header-links a:hover {
    color: #B08126;
}
header button {
    background: #B08126;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 21px;
}
header button:hover {
    background: white;
}
.hambuger {
    display: none;
}
.hambuger-nav {
    display: none;
    transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 1000px) {
    .header-links {
        display: None;
    }
    header {
        flex-direction: column;
    }
    header div {
        justify-content: space-between;
    }
    .hambuger {
        display: flex;
        position: relative;
    }
    .hambuger-icon {
        margin-right: 50px;
        font-size: 30px;
        color: #B08126;
        transition: all 0.2s ease-in-out;
    }
    .hambuger-nav.active {
        top: 70px;
        width: 100%;
        background: #B08126;
        display: flex;
        flex-direction: column;
    }
    .hambuger-nav.active a {
        text-decoration: none;
        font-size: 20px;
        width: 100%;
        color: white;
        padding: 10px 20px;
    }
    .hambuger-nav.active a:hover {
        color: black;
        padding-left: 30px;
    }
}