footer {
    background: rgb(29, 28, 28);
    color: white;
    overflow-x: hidden;
}
footer section {
    border-top: 1px solid white;
    display: flex;
    padding: 60px 60px 30px 60px;
}
footer section div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    font-size: 21px;
    line-height: 1.5;
}
footer section div img {
    margin: 20px 0;
}
footer section div a {
    text-decoration: none;
    color: inherit;
}
footer section div nav {
    margin: 10px 0;
}
footer section .icon {
    margin: 0 10px;
}
footer span {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 30px 120px;
    font-size: 19px;

}