* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.super-nav {
    background: white;
    color: black;
    position: fixed;
    bottom: 100px;
    right: 100px;
    padding: 20px;
    z-index: 999;
    border-radius: 50%;
}
#super {
    font-size: 30px;
}